body {
    background-image: linear-gradient(black, rgb(28,40,65)); 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.container{
    margin: 0px;
    display: flex;
    justify-content: space-evenly;

}

h1{
    font-family: 'Courier New', 'Courier', 'monospace';
    color: azure;

}