.container{
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
}

h1 h2{color: white; font-size: xx-large; font-family: 'Courier New', Courier, monospace;}
p, a{font-family: sans-serif; color: white; font-size: x-large; text-decoration: none;}