#AlbumCover{
    aspect-ratio: 1/1;
    width: 500px;
}
.contianer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    width: 75%;
}

#PausePlay{
    width: 200px;
    height: 50px;
    margin: 20px;
    font-size: 25px;
}