html{
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZW1wa3cxazc3Y2pwOWdheGozOGJmcnlhYXNqZm5pYmV4bmk3Zm42eSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/oSYflamt3IEjm/giphy.gif");
    /*background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;*/
    background-attachment: fixed;
    background-color: #101417;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}   
main, header, footer{
    background-color: rgb(0, 0, 0, 0.35);
    border-color: rgb(0, 0, 0, 0.3);
}
img{
    width: 180px;
}
button{
    width: 100px;
    margin: 25px;
}

iframe{
    width: 375px;
    margin: 25px auto;
    border: 2.5px solid white;
}

#newvideos{
    width: 400px;
    height: 300px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    justify-self: end;
    background-color: rgba(0,0,0,0.35);
}

@media only screen and (max-width: 500px) {
    .radio_control{
        height: 60px;
        width: 60px;
    }
}