button{
    width: 100px;
    margin: 25px;
}

html{
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZW1wa3cxazc3Y2pwOWdheGozOGJmcnlhYXNqZm5pYmV4bmk3Zm42eSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/oSYflamt3IEjm/giphy.gif");
    /*background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;*/
    background-attachment: fixed;
    background-color: #101417;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}   
main, header, footer{
    background-color: rgb(0, 0, 0, 0.35);
    border-color: rgb(0, 0, 0, 0.3);
}
img{
    width: 180px;
}
