html {
  background-color: rgb(33, 33, 33);
  font-family: sans-serif;
  color: white;
}
header {
  margin-top: 2.5%;
  display: flex;
  justify-content: space-evenly;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav-icons{
  width: 23px;
  color: wheat;
}
.nav-sector{
  display: flex;
  flex-direction: column;
  align-items: center;
}
main{
  text-align: center;
  margin-bottom: 2.5%;
}
footer {
  position: sticky;
  height: 25px;
  width: 100%;
  bottom: 0;
  padding-bottom: 1%;

  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.Time {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 25%;
}
a {
  color: wheat;
}
p {
  text-align: center;
}
h1{
  text-align: center;
}
hr{
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.flag {
  width: 100px;
  -webkit-user-drag: none;
}
#flag-japan {
  width: 90px;
}
.TimeDisplay{
  justify-content: flex-end;
}
svg{
  width: 30px;
}
.DayIndicator{
  color: yellow;
}
.NightIndicator{
  color: lightblue;
}
.User_indicator{
  display:none
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
    margin-top: 10%;
  }
  nav {
    text-align: center;
  }
  .nav-sector{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 5px;
    padding: 2%;
    border: solid transparent;
    border-radius: 10px;
  }
  .nav-sector:hover{
    background-color: rgba(255, 255, 255, 0.15);
    transition: background-color;
  }
  .nav-sector:active{
    background-color: rgba(255, 255, 255, 0.25);
    transition: background-color;
  }
  .Time {
    background-color: rgba(255, 255, 255, 0.05);
    margin: 5%;
    padding: 5%;
    border: solid transparent;
    border-radius: 25px;
  }
}
