html{
    background-color: rgb(33, 33, 33);
    font-family: sans-serif;
    color: white;
}
body{
    align-items: center;
    justify-content: center;
}
header{
    display: flex;
    margin-top: 2.5%;
    justify-content: space-evenly;
}
.Time{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
p{display: inline;}
.flag{width: 100px;}
#flag-japan{width: 90px;}