body {
  font-family: sans-serif;
  font-size: 25pt;
  color: white;
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flag {
  width: 200px;
  -webkit-user-drag: none;
}